.item {
  background-color: transparent;
  color: inherit;

  display: grid;
  place-content: center;

  border: 1px solid currentColor;
  border-radius: var(--border-radius);
  -webkit-border-radius: var(--border-radius);
  -moz-border-radius: var(--border-radius);
  -ms-border-radius: var(--border-radius);
  -o-border-radius: var(--border-radius);

  aspect-ratio: 1 / 1;

  &.active {
    background-color: var(--color-primary);
    color: var(--color-primary-opposite);
  }
}
