.page {
  display: grid;
  grid-template-columns: 1fr 4fr;
  align-items: start;
  gap: 1rem;

  margin-block-end: 2rem;

  .filters {
    display: grid;
    gap: 1rem;
   
  }

  .results {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
    gap: 0.5rem;

    position: sticky;
    top: 0;
    align-self: start;

    > li {
      background-color: transparent;
      color: inherit;

      display: grid;
      place-content: center;

      border: 1px solid currentColor;
      border-radius: var(--border-radius);
      -webkit-border-radius: var(--border-radius);
      -moz-border-radius: var(--border-radius);
      -ms-border-radius: var(--border-radius);
      -o-border-radius: var(--border-radius);

      aspect-ratio: 1 / 1;


      &.active {
        background-color: var(--color-primary);
        color: var(--color-primary-opposite);
      }
    }
  }
}
